.header {
  position: fixed;
  z-index: 9999999999;
  width: 100%;
  max-width: 1000px;
  padding: 12px 0;
  padding-left: 12px;
  transition: all 0.4s;

  .placebtn {
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
    border: none !important;
    color: #ffffff;
    justify-content: flex-start;
    align-items: center;
    padding-left: 12px;
    width: 100%;
  }
}

.activetag {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h2 {
    font-size: 16px;
    margin: 0;
    margin-right: 12px;
  }
}

.am-list-body::before {
  background-color: transparent !important;
}

.search {
  overflow: hidden;
  margin-bottom: 6px;
}

.detail {
  position: relative;
  min-height: 100%;
  background-color: #ffffff;

  .title {
    font-size: 16px;
    color: #000;
    padding-left: 12px;
    position: relative;
    margin-bottom: 12px;

    &::before {
      position: absolute;
      content: '';
      width: 4px;
      height: 14px;
      left: 0;
      top: 6px;
      background-color: @primary-color;
    }
  }

  .zixun {
    position: absolute;
    right: 12px;
    bottom: -24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #666;
    width: 48px;
    height: 48px;
    color: @primary-color;
  }

  p {
    margin-bottom: 6px;
    font-size: 14px;
  }

  a {
    color: @primary-color;
  }

  .sanbao {
    padding: 12px;
  }

  .footer {
    position: fixed;
    bottom: 0px;
    z-index: 998;
    background-color: #ffffff;
    box-shadow: 0px -2px 2px #ddd;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;

    .btn {
      flex: 1;
      color: #ffffff;
      padding: 14px;
      text-align: center;
      font-size: 16px;
    }

    .btn:first-child {
      color: #666;
    }
  }
}