#root {
  height: 100%;
}
.slider-decorator-0 {
  bottom: 16px !important;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tag {
  padding: 4px 6px;
  background-color: #f0f0f0;
  color: #666;
  display: inline-block;
  margin: 0 4px 4px 0;
  white-space: nowrap;
}
